<!-- <p *ngIf="matchSelected">Seleccionado: {{ matchSelected }}</p> -->
@if (matchSelected){
<p
  [ngStyle]="{
    color: 'red'
  }"
>
  Selecionado: {{ matchSelected }}
</p>
<input [(ngModel)]="matchSelected" />
} @else{ }
<!-- <app-match-info
  *ngFor="let match of matches"
  [match]="match"
  (selectedMatch)="onSelected($event)"
/> -->
@for(match of matches; track match; let index = $index){
<app-match-info
  [ngClass]="{
    title: index == 0
  }"
  [match].name="match"
  (selectedMatch)="onSelected($event)"
/>
}
<button (click)="onDeleteLast()">Eliminar Uiltimo</button>
<p>Mi fecha: {{ myDate | date : "dd/MM/yyyy" }}</p>
